/* 
    Created on : 21/12/2019, 18:45:21
    Author     : Leandro Laurindo
*/
.alinhar-centro{
    display: inline-flex;
    vertical-align:middle;
    align-items: center;
}
.erro.msg{
    color:  red;
}
.sucesso.msg{
     color: blue;
}
h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}